<% provide(:title, 'TechNet') %>
<h1>Listing members_teches</h1>
<table>
      <tr>
       <td></td>
        <td><%= params[:tech_ids] %></td>
         <td><%= params[:mem_id] %></td>
      </tr>
</table>

