<% provide(:title, 'Password Recovery') %>

<div align="center" style="top=100px">
	<p class = "text1">Forgot your password?</p>
	<p class = "text1">Please enter your email <input type="text"  placeholder="email"  width="255px" maxlength="50" > </p>
	<p><input type="submit" value="Submit" style="width:80px;height:35px"></p>

	
</div>

