$main_color:#ffb566;
$inner_color:#ffc78b;
$strip_color:#c86428;
$technet_gray:#ffefde;
$technet_brown:#7e2306;


a.button:link {
	color:blue;
	font-size:14px;
	background: transparent;
    padding: 5px 5px 5px 5px;
    text-align:center;
}
a.button:visited {
	color:blue;
	background-color:$main_color;
}
a.button:hover {
	color:$technet_brown;
	font-weight:bold;
	background-color:$strip_color;
	text-align:center;

}

.wrapper{
	position: absolute; 
	background-color:$inner_color;
	font-family: "Arial","Loma"; 
	font-size:12px; 
	color:$technet_brown;
	border-color:$technet_gray;
	border-width:3px;
	border-style: solid;
	padding: 2px;
	margin-left: 3px;
}

.title {
  	background-color:$strip_color;
  	text-align: center;
  	color:#fffcae;
  	font-size:30px;
	margin: 0px 0px 0px 0px;
	height:35px;
	padding-top: 17px;
	font-family: "Impact","URW Bookman L"
}

.alert-error{
	background-color:$technet_gray;
  	text-align: center;
  	color:red;
  	font-size:14px;
	margin: 0px 0px 0px 0px;
	height:20px;
	width:200 px;
	padding-top: 17px;
}

.text1 {
  text-align: center;
  color:#ffefde;
  font-size:20px;
}

.text2 {
  text-align: left;
  color:$technet_brown;
  font-size:14px;
}

.form1 {
  text-align: left;
  color:$technet_brown;
  font-size:12px;
}

.combo1{
  width: 235px;
  height: 26px;
  text-align: left;
  color:$technet_brown;
  font-size:12px;
}

.main_body {
	color: #ffefde;
	background-color: $main_color;
	font-size:44px;
	margin: 0px 0px 0px 0px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
  	background-color:$strip_color;
  	text-align: center;
  	color:#fffcae;
  	font-size:12px;
	margin: 0px 0px 0px 0px;
	height:20px;
	padding-top: 2px;
	font-family: "Arial","Loma"
}

.debug_dump {
  	color:#000000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button4 {
	font: normal 14px arial, sans-serif;
	width:140px;
	height:130px;
	cursor:pointer;
	display:block;
	padding-top:25px;
	text-align:center;
	background-color:$inner_color;
	vertical-align:center;
	border-style:solid;
	border-color:$technet_gray;

}

a.button4:hover{
		color:$technet_brown;
		background-color:$strip_color;
		cursor:pointer;
		border-style:ridge;
}

.tech_button1 {

	width:236px;
	height:35px;
	background-color:transparent;
}

.tech_button2 {

	width:300px;
	height:70px;
	background-color:technet_gray;
	white-space: normal ;
	padding-left:25px;
	padding-right:25px;
	margin-top:10px;
}

.tech_button3 {

	width:200px;
	height:40px;
	background-color:technet_gray;
	white-space: normal ;
	margin-top:8px;
	margin-bottom:3px;
}

.select_box1 {
  	background: transparent;
  	text-align: left;
  	color:$technet_brown;
  	font-size:12px;
	margin: 0px 0px 0px 0px;
	width:285px;
	height:150px;
	padding-top: 5px;
	margin-left:5px;
	font-family: "Arial","URW Bookman L"
}

.column-left{ float: left; width:300px; height: 500px; border-color:$technet_gray; border-width:3px;border-style: solid; padding: 5px;margin-left: 3px;}
.column-center{ float: left; width: 200px;  height: 500px; border-color:$technet_gray; border-width:3px;border-style: solid; padding: 5px;margin-right: 3px;margin-left: 3px; }
.column-right{ position: absolute; left:539px; width:500px; height: 500px; border-color:$technet_gray; border-width:3px;border-style: solid; padding: 5px; margin-left: 3px;}

.inner_box{
		background-color:$inner_color;
		font-family: "Arial","Loma"; 
		font-size:12px; 
		color:$technet_brown;
		overflow: auto;
		border-color:$technet_gray;
		border-width:3px;
		border-style: solid;
		padding: 2px;
}
.inner_title{
		background-color:$main_color;
		font-family: "Arial","Loma"; 
		font-size:13px; 
		color:$technet_brown;
		font-weight:bold;
		padding:0px;
		margin:0px;
}

.readable_box1 {
  background: transparent;
  text-align: left;
  color:$technet_brown;
  font-size:12px;
margin: 0px 0px 0px 0px;
width:290px;
height:22px;
font-family: "Impact","URW Bookman L"
}
.readable_box2 {
  background: transparent;
  text-align: center;
  color:$technet_brown;
  font-size:12px;
margin: 0px 0px 0px 0px;
width:70px;
height:22px;
font-family: "Impact","URW Bookman L"
}


